@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #c0c0c0;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  padding: 0.375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e7eb;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  background-color: #f9fafb;
}

.form__input {
  height: 3.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0.625rem 0.625rem;
}

.form__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form__input._form-error::-moz-placeholder {
  color: red;
}

.form__input._form-error:-ms-input-placeholder {
  color: red;
}

.form__input._form-error::-ms-input-placeholder {
  color: red;
}

.form__input._form-error::placeholder {
  color: red;
}

.form__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  z-index: 50;
  font-size: 1rem;
  padding-left: 1.625rem;
  margin-top: 0.3125rem;
}

.form__button {
  width: 3.9375rem;
  height: 1.875rem;
  border-radius: 11px;
  background: #000;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5625rem 0.625rem 0.8125rem 2.625rem;
  border-radius: 0.875rem;
  color: #000;
  background-color: #fff;
  font-size: 0.9375rem;
  line-height: 133.333333%;
  /* 20/15 */
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button--fw {
  width: 100%;
}

.button--card::before {
  content: "";
  position: absolute;
  right: 74.8251748252%;
  bottom: 12%;
  width: 2rem;
  height: 2rem;
  -webkit-clip-path: circle(53% at 50% 50%);
          clip-path: circle(53% at 50% 50%);
  background-color: #000;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}

.spollers__title::marker {
  display: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: toRem(12);
  		height: toRem(1);
  		transition: all 0.3s ease 0s;
  		width: toRem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: toRem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  color: #fff;
  line-height: 110%;
}

.title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.info {
  position: absolute;
  right: 13%;
  pointer-events: none;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.info__text {
  font-size: 0.75rem;
  color: #fff;
}

.info__time {
  position: relative;
  padding-left: 1.5rem;
}

.info__time::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: url("../img/info/clock.svg") 0 0 no-repeat;
}

.info__fraction {
  position: relative;
  padding-left: 1.5rem;
}

.info__fraction::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: url("../img/info/fraction.svg") 0 0 no-repeat;
}

.info__iso {
  position: relative;
  padding-left: 2.5rem;
}

.info__iso::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 2rem;
  height: 1rem;
  background: url("../img/info/iso.svg") 0 0 no-repeat;
}

.info__location {
  position: relative;
  padding-left: 1.5rem;
}

.info__location::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: url("../img/info/place.svg") 0 0 no-repeat;
}

.description {
  position: absolute;
  z-index: 5;
  bottom: 50%;
  right: 18%;
  line-height: 142.857143%;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 0.9375rem;
  max-width: 18.625rem;
}

.description__title {
  /* 20/14 */
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #fff;
}

.header {
  padding: 1.25rem 0;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 10;
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__button {
  background-color: #fff;
  padding: 0.6875rem 1.25rem;
  color: #000;
  font-size: 1rem;
  border-radius: 0.875rem;
  line-height: 125%;
  /* 20/16 */
  position: relative;
  z-index: 15;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  row-gap: 0.625rem;
}

.menu__link {
  font-size: 0.8125rem;
  color: #fff;
  line-height: 133.333333%;
  /* 20/15 */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  line-height: 142%;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 2.5rem;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-footer {
  padding-bottom: 2.25rem;
}

.header-footer__text {
  margin-top: 1.25rem;
  font-size: 0.8125rem;
  line-height: 153.846154%;
  /* 20/13 */
}

.spollers-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 3.4375rem;
     -moz-column-gap: 3.4375rem;
          column-gap: 3.4375rem;
  row-gap: 0.625rem;
}

.spollers-footer__title {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  list-style: none;
}

.spollers-footer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.spollers-footer__title::marker {
  display: none;
}

._spoller-init .spollers-footer__title {
  position: relative;
  padding-right: 1.875rem;
  cursor: pointer;
}

._spoller-init .spollers-footer__title::before,
._spoller-init .spollers-footer__title::after {
  content: "";
  position: absolute;
  right: 0rem;
  top: 50%;
  background-color: #c0c0c0;
  height: 0.125rem;
  width: 0.5rem;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers-footer__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(44deg);
      -ms-transform: translate(-75%, -50%) rotate(44deg);
          transform: translate(-75%, -50%) rotate(44deg);
}

._spoller-init .spollers-footer__title::after {
  -webkit-transform: translate(0, -50%) rotate(-44deg);
      -ms-transform: translate(0, -50%) rotate(-44deg);
          transform: translate(0, -50%) rotate(-44deg);
}

._spoller-init .spollers-footer__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-44deg);
      -ms-transform: translateX(-75%) rotate(-44deg);
          transform: translateX(-75%) rotate(-44deg);
}

._spoller-init .spollers-footer__title._spoller-active::after {
  -webkit-transform: rotate(44deg);
      -ms-transform: rotate(44deg);
          transform: rotate(44deg);
}

.spollers-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.spollers-footer__link {
  color: #fff;
}

.subscribe-footer {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  padding: 2.25rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-footer__title {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.subscribe-footer__text {
  font-size: 0.8125rem;
  line-height: 153.846154%;
  /* 20/13 */
}

.subscribe-footer .form {
  padding: 0.375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e7eb;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  background-color: #f9fafb;
}

.subscribe-footer .form__input {
  height: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0rem 0.625rem;
}

.subscribe-footer .form__input._form-error::-webkit-input-placeholder {
  color: red;
}

.subscribe-footer .form__input._form-error::-moz-placeholder {
  color: red;
}

.subscribe-footer .form__input._form-error:-ms-input-placeholder {
  color: red;
}

.subscribe-footer .form__input._form-error::-ms-input-placeholder {
  color: red;
}

.subscribe-footer .form__input._form-error::placeholder {
  color: red;
}

.subscribe-footer .form__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  z-index: 50;
  font-size: 1rem;
  padding-left: 1.625rem;
  margin-top: 0.3125rem;
}

.subscribe-footer .form__button {
  width: 3.9375rem;
  height: 1.875rem;
  border-radius: 11px;
  background: #000;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.main-page {
  position: relative;
}

.main-page__image-ibg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-page__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page__content {
  position: relative;
  z-index: 5;
  text-align: center;
  max-width: 37.5rem;
}

.main-page__label {
  letter-spacing: 0.125rem;
}

.main-page__text {
  line-height: 142%;
}

.what__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what__top {
  text-align: center;
}

.what__top:not(:last-child) {
  margin-bottom: 2.625rem;
}

.what__title {
  line-height: 105%;
  /* 42/40 */
}

.what__text {
  line-height: 130.434783%;
  /* 30/23 */
}

.what__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-what {
  position: relative;
}

.card-what__image img {
  max-width: 100%;
}

.card-what__content {
  line-height: 142.857143%;
  /* 20/14 */
  left: 0;
  bottom: 0;
  position: absolute;
}

.card-what__title {
  color: #fff;
  letter-spacing: 0.125rem;
}

.card-what__title:not(:last-child) {
  margin-bottom: 1rem;
}

.card-what__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.sunset {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.sunset__image img {
  min-height: 20rem;
  width: 100%;
}

.tools {
  position: relative;
}

.tools__container {
  padding-bottom: 6.5rem;
}

.tools__content {
  line-height: 142%;
  position: relative;
  z-index: 10;
  max-width: 37.5rem;
}

.tools__label {
  letter-spacing: 0.125rem;
}

.tools__title:not(:last-child) {
  margin-bottom: 0.875rem;
}

.tools__text {
  max-width: 31.875rem;
  color: #fff;
}

.tools__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.no-webp .tools__image::before{
  background: url("../img/tools/01.jpg") 0 0/cover no-repeat; }

.tools__image::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
}

.monstera {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.monstera__image img {
  min-height: 20rem;
  width: 100%;
}

.clients__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__top {
  text-align: center;
}

.clients__title {
  color: #fff;
  line-height: 105%;
}

.clients__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.clients__text {
  line-height: 125%;
  /* 30/24 */
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.25rem;
}

.falling-star {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.falling-star__image img {
  min-height: 20rem;
  width: 100%;
}

.get-in__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.get-in__title {
  color: #fff;
  line-height: 105%;
}

.get-in__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.get-in__text {
  line-height: 125%;
  /* 30/24 */
}

.get-in__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

@media (min-width: 29.99875em) {
  .get-in__content {
    max-width: 35.625rem;
  }
}

@media (min-width: 47.99875em) {
  .tools__content {
    padding-top: 3.375rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 75em) {
  .form {
    width: 28.75rem;
  }

  .info {
    bottom: 2.5rem;
  }

  .header__container {
    gap: 1.875rem;
  }

  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }

  .footer {
    padding-top: 6.25rem;
  }

  .footer {
    padding-bottom: 6.25rem;
  }

  .footer__bottom {
    padding-top: 3.5rem;
  }

  .subscribe-footer__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .subscribe-footer .form {
    width: 28.75rem;
  }

  .main-page {
    padding-bottom: 1.875rem;
  }

  .main-page__content {
    padding-bottom: 3.75rem;
  }

  .main-page__content {
    padding-top: 34.375rem;
  }

  .main-page__title {
    font-size: 3.375rem;
  }

  .what {
    padding-top: 7.5rem;
  }

  .what {
    padding-bottom: 6.25rem;
  }

  .what__title {
    font-size: 2.5rem;
  }

  .what__text {
    font-size: 1.4375rem;
  }

  .card-what__content {
    padding: 1.875rem;
  }

  .tools__container {
    padding-top: 8.4375rem;
  }

  .tools__title {
    font-size: 1.75rem;
  }

  .clients__container {
    padding-bottom: 6.875rem;
  }

  .clients__top {
    padding-top: 6.875rem;
  }

  .clients__top:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .clients__title {
    font-size: 2.5rem;
  }

  .clients__text {
    font-size: 1.5rem;
  }

  .clients__content {
    padding: 2.5rem;
  }

  .clients__content {
    -webkit-column-gap: 6.875rem;
       -moz-column-gap: 6.875rem;
            column-gap: 6.875rem;
  }

  .get-in__content {
    padding-top: 6.875rem;
  }

  .get-in__content {
    padding-bottom: 6.875rem;
  }

  .get-in__title {
    font-size: 2.5rem;
  }

  .get-in__text {
    font-size: 1.5rem;
  }
}

@media (max-width: 20em) {
  .form {
    width: 18.75rem;
  }

  .info {
    bottom: 1rem;
  }

  .header__container {
    gap: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .footer__bottom {
    padding-top: 1.875rem;
  }

  .subscribe-footer__title:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .subscribe-footer .form {
    width: 18.75rem;
  }

  .main-page {
    padding-bottom: 1.25rem;
  }

  .main-page__content {
    padding-bottom: 2.5rem;
  }

  .main-page__content {
    padding-top: 4.375rem;
  }

  .main-page__title {
    font-size: 2rem;
  }

  .what {
    padding-top: 3.75rem;
  }

  .what {
    padding-bottom: 2.5rem;
  }

  .what__title {
    font-size: 2rem;
  }

  .what__text {
    font-size: 1.125rem;
  }

  .card-what__content {
    padding: 0.625rem;
  }

  .tools__container {
    padding-top: 6.25rem;
  }

  .tools__title {
    font-size: 1.375rem;
  }

  .clients__container {
    padding-bottom: 2.5rem;
  }

  .clients__top {
    padding-top: 3.75rem;
  }

  .clients__top:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .clients__title {
    font-size: 1.5rem;
  }

  .clients__text {
    font-size: 1rem;
  }

  .clients__content {
    padding: 1.25rem;
  }

  .clients__content {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .get-in__content {
    padding-top: 3.75rem;
  }

  .get-in__content {
    padding-bottom: 3.75rem;
  }

  .get-in__title {
    font-size: 1.25rem;
  }

  .get-in__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 65.74875em) {
  .tools__image::before {
    width: 100%;
    opacity: 0.7;
  }
}

@media (max-width: 51.49875em) {
  .footer__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -ms-grid-columns: auto 1fr auto auto;
    grid-template-columns: auto 1fr auto auto;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 8;
    overflow: auto;
    background-color: #020a0f;
    padding-bottom: 1.875rem;
    padding-left: 0.9375rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding-right: 0.9375rem;
  }

  .menu__body::before {
    content: "";
    top: 0;
    left: -100%;
    background-color: #000000;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 15;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .subscribe-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .info {
    right: 0.9375rem;
  }

  .description {
    right: 0;
  }

  .spollers-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .main-page {
    -o-object-position: right;
       object-position: right;
  }

  .main-page__image-ibg {
    opacity: 0.7;
  }

  .card-what__image {
    opacity: 0.5;
  }

  .sunset__image img {
    width: 45rem;
    -webkit-transform: translate(-20%, 0px);
        -ms-transform: translate(-20%, 0px);
            transform: translate(-20%, 0px);
  }

  .monstera__image img {
    width: 45rem;
  }

  .falling-star__image img {
    width: 45rem;
    -webkit-transform: translate(-20%, 0px);
        -ms-transform: translate(-20%, 0px);
            transform: translate(-20%, 0px);
  }
}

@media (max-width: 26.25em) {
  .header__button {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (width: clamp( 18.75rem , 15.1136363636rem  +  18.1818181818vw , 28.75rem )) {
    .form {
      width: clamp( 18.75rem , 15.1136363636rem  +  18.1818181818vw , 28.75rem );
    }
}

@supports not (width: clamp( 18.75rem , 15.1136363636rem  +  18.1818181818vw , 28.75rem )) {
    .form {
      width: calc(18.75rem + 10 * (100vw - 20rem) / 55);
    }
}

@supports (bottom: clamp( 1rem , 0.4545454545rem  +  2.7272727273vw , 2.5rem )) {
    .info {
      bottom: clamp( 1rem , 0.4545454545rem  +  2.7272727273vw , 2.5rem );
    }
}

@supports not (bottom: clamp( 1rem , 0.4545454545rem  +  2.7272727273vw , 2.5rem )) {
    .info {
      bottom: calc(1rem + 1.5 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .header__container {
      gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .header__container {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 0.8579545455rem  +  3.5227272727vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , 0.8579545455rem  +  3.5227272727vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , 0.8579545455rem  +  3.5227272727vw , 3.5rem );
         -moz-column-gap: clamp( 1.5625rem , 0.8579545455rem  +  3.5227272727vw , 3.5rem );
              column-gap: clamp( 1.5625rem , 0.8579545455rem  +  3.5227272727vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 0.8579545455rem  +  3.5227272727vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , 0.8579545455rem  +  3.5227272727vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.9375 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.5625rem + 1.9375 * (100vw - 20rem) / 55);
              column-gap: calc(1.5625rem + 1.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .footer {
      padding-top: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .footer {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .footer {
      padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .footer {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2840909091rem  +  2.9545454545vw , 3.5rem )) {
    .footer__bottom {
      padding-top: clamp( 1.875rem , 1.2840909091rem  +  2.9545454545vw , 3.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2840909091rem  +  2.9545454545vw , 3.5rem )) {
    .footer__bottom {
      padding-top: calc(1.875rem + 1.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.2272727273rem  +  1.3636363636vw , 1.25rem )) {
    .subscribe-footer__title:not(:last-child) {
      margin-bottom: clamp( 0.5rem , 0.2272727273rem  +  1.3636363636vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.2272727273rem  +  1.3636363636vw , 1.25rem )) {
    .subscribe-footer__title:not(:last-child) {
      margin-bottom: calc(0.5rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 18.75rem , 15.1136363636rem  +  18.1818181818vw , 28.75rem )) {
    .subscribe-footer .form {
      width: clamp( 18.75rem , 15.1136363636rem  +  18.1818181818vw , 28.75rem );
    }
}

@supports not (width: clamp( 18.75rem , 15.1136363636rem  +  18.1818181818vw , 28.75rem )) {
    .subscribe-footer .form {
      width: calc(18.75rem + 10 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .main-page {
      padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .main-page {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .main-page__content {
      padding-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .main-page__content {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 4.375rem , -6.5340909091rem  +  54.5454545455vw , 34.375rem )) {
    .main-page__content {
      padding-top: clamp( 4.375rem , -6.5340909091rem  +  54.5454545455vw , 34.375rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , -6.5340909091rem  +  54.5454545455vw , 34.375rem )) {
    .main-page__content {
      padding-top: calc(4.375rem + 30 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.5rem  +  2.5vw , 3.375rem )) {
    .main-page__title {
      font-size: clamp( 2rem , 1.5rem  +  2.5vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.5rem  +  2.5vw , 3.375rem )) {
    .main-page__title {
      font-size: calc(2rem + 1.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem )) {
    .what {
      padding-top: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem )) {
    .what {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .what {
      padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .what {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
    .what__title {
      font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
    .what__title {
      font-size: calc(2rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0113636364rem  +  0.5681818182vw , 1.4375rem )) {
    .what__text {
      font-size: clamp( 1.125rem , 1.0113636364rem  +  0.5681818182vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0113636364rem  +  0.5681818182vw , 1.4375rem )) {
    .what__text {
      font-size: calc(1.125rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
    .card-what__content {
      padding: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.1704545455rem  +  2.2727272727vw , 1.875rem )) {
    .card-what__content {
      padding: calc(0.625rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 6.25rem , 5.4545454545rem  +  3.9772727273vw , 8.4375rem )) {
    .tools__container {
      padding-top: clamp( 6.25rem , 5.4545454545rem  +  3.9772727273vw , 8.4375rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.4545454545rem  +  3.9772727273vw , 8.4375rem )) {
    .tools__container {
      padding-top: calc(6.25rem + 2.1875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem )) {
    .tools__title {
      font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2386363636rem  +  0.6818181818vw , 1.75rem )) {
    .tools__title {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9090909091rem  +  7.9545454545vw , 6.875rem )) {
    .clients__container {
      padding-bottom: clamp( 2.5rem , 0.9090909091rem  +  7.9545454545vw , 6.875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9090909091rem  +  7.9545454545vw , 6.875rem )) {
    .clients__container {
      padding-bottom: calc(2.5rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) {
    .clients__top {
      padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) {
    .clients__top {
      padding-top: calc(3.75rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.625rem  +  2.5vw , 2.5rem )) {
    .clients__top:not(:last-child) {
      margin-bottom: clamp( 1.125rem , 0.625rem  +  2.5vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.625rem  +  2.5vw , 2.5rem )) {
    .clients__top:not(:last-child) {
      margin-bottom: calc(1.125rem + 1.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem )) {
    .clients__title {
      font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem )) {
    .clients__title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .clients__text {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .clients__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .clients__content {
      padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .clients__content {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) or (column-gap: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem ))) {
    .clients__content {
      -webkit-column-gap: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
         -moz-column-gap: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
              column-gap: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) or (column-gap: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem ))) {
    .clients__content {
      -webkit-column-gap: calc(3.75rem + 3.125 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(3.75rem + 3.125 * (100vw - 20rem) / 55);
              column-gap: calc(3.75rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) {
    .get-in__content {
      padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) {
    .get-in__content {
      padding-top: calc(3.75rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) {
    .get-in__content {
      padding-bottom: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem )) {
    .get-in__content {
      padding-bottom: calc(3.75rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .get-in__title {
      font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .get-in__title {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .get-in__text {
      font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
    .get-in__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .menu__body {
    padding-top: 11.25rem;
  }

  .menu__body::before {
    height: 5.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
@supports (padding-top: clamp( 7.5rem , 4.821308987rem  +  13.393455065vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 4.821308987rem  +  13.393455065vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 4.821308987rem  +  13.393455065vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 3.75 * (100vw - 20rem) / 27.99875);
    }
}

@supports (height: clamp( 5rem , 4.5535514978rem  +  2.2322425108vw , 5.625rem )) {
    .menu__body::before {
      height: clamp( 5rem , 4.5535514978rem  +  2.2322425108vw , 5.625rem );
    }
}

@supports not (height: clamp( 5rem , 4.5535514978rem  +  2.2322425108vw , 5.625rem )) {
    .menu__body::before {
      height: calc(5rem + 0.625 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #c0c0c0;
  }

  .header__button:hover {
    background-color: #c0c0c0;
  }

  .menu__link:hover {
    text-decoration: underline;
    color: #928c8c;
  }
}

.webp .tools__image::before{ background: url(../img/tools/01.webp) 0 0/cover no-repeat; }